.particles-js {
    position: relative;
    overflow: hidden; /* Ensure content doesn't overflow */
}

.particles-js-canvas-el {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Ensure canvas is behind other content */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
}

:root {
    --bg-color: #041a27;
    --second-bg-color: #234558;
    --text-color: #ffffff;
    --main-color: #90caf9;
    --error-message: #ff6257;
}

html {
    font-size:62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

span {
    color: var(--main-color);
}

section {
    min-height: 95vh;
    padding: 10rem 9% 2rem;
}

.heading {
    font-size: 7rem;
    margin-bottom: 3rem;
    text-align: center;
}

.subtitle {
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

/* Here is where the Header CSS code starts */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-family: "Source Code Pro", monospace;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: pointer;
    font-family: "Source Code Pro", monospace;
}

/* Here is where the Navbar CSS code starts */
.navbar a {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 100;
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    font-weight: 500;
}
/* Here is where the Navbar CSS code ends */

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
/* Here is where the Header CSS code ends */

/* Here is where the Home section CSS code starts */
.home-content, .profile-pic, .social-media {
    position: relative;
    z-index: 1;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    position: relative;
    overflow: hidden; /* Ensure content doesn't overflow */
}

.profile-pic img {
    width: 30vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.home-content h3 {
    font-size: 4rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

.home-content div h3 span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 7rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 2.3rem;
}
/* Here is where the Home section CSS code ends */

/* Here is where the Social Media CSS code starts */
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 3rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s;
}

.social-media a:hover {
    background-color: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--main-color);
    border-radius: 4rem;
    box-shadow: none;
    font-size: 2.5rem;
    color: var(--bg-color);
    transition: .5s ease;
}

.btn:hover {
    box-shadow: 0 0 1rem var(--main-color);
    font-weight: 500;
}
/* Here is where the Social Media CSS code ends */

/* Here is where the Skills CSS code starts */
.skills {
    min-height: auto;
    padding-bottom: 10rem;
    background: var(--second-bg-color);
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    padding: 2rem;
}

.skills-row .skills-column {
    flex: 1 1 40rem;
}

.skills-column .title {
    font-size: 3rem;
    color: var(--main-color);
    margin: 0 0 1.5rem;
}

.skills-box .skills-content {
    position: relative;
    border-radius: .6rem;
}

.skills-box .skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--main-color);
    opacity: 50%;
    z-index: -1;
}

.skills-content .progress {
    padding: 1rem 0;
}

.skills-content .progress h3 {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress .bar {
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--text-color);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
}

/* Percentages for "Programming Languages" bars skills (Start) */
#row1 .skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 90%;
}

#row1 .skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 50%;
}

#row1 .skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
    width: 30%;
}

#row1 .skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
    width: 30%;
}

#row1 .skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span {
    width: 30%;
}
/* Percentages for "Programming Languages" bars skills (End) */

/* Percentages for "IDLEs & Frameworks" bars skills (Start) */
#row1 .skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 70%;
}

#row1 .skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 90%;
}

#row1 .skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span {
    width: 90%;
}

#row1 .skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span {
    width: 30%;
}
/* Percentages for "IDLEs & Frameworks" bars skills (End) */

/* Percentages for "Databases" bars skills (Start) */
#row2 .skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
    width: 90%;
}

#row2 .skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
    width: 90%;
}
/* Percentages for "Databases" bars skills (End) */

/* Percentages for "UI/UX Design" bars skills (Start) */
#row2 .skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span {
    width: 80%;
}

#row2 .skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span {
    width: 60%;
}
/* Percentages for "UI/UX Design" bars skills (Start) */
/* Here is where the Skills CSS code starts */

/* Here is where the Education & Experience CSS code starts */
.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 10rem;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education .education-column {
    flex: 1 1 40rem;
}

.education-column .title {
    font-size: 3rem;
    color: var(--text-color);
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box {
    border-left: .2rem solid var(--main-color);
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
}

.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--text-color);
    border-radius: .6rem;
    margin-bottom: 4rem;
    overflow: hidden;
}

.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--main-color);
    opacity: 50%;
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before {
    width: 100%;
}

.education-content .content .year {
    font-size: 1.7rem;
    color: var(--text-color);
    padding-bottom: .5rem;
}

.education-content .content .year i {
    padding-right: .5rem;
}

.education-content .content h3 {
    font-size: 2rem;
}

.education-content .content p {
    font-size: 2rem;
    padding-top: .5rem;
}
/* Here is where the Education & Experience CSS code ends */

/* Here is where the Projects CSS code starts */
.myProjects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 10rem;
    background: var(--second-bg-color);
}

.projects-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    gap: 4rem;
    margin-top: 4.2rem;
}

.card img {
    height: auto;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1.4rem;
}

.card {
    background: var(--bg-color);
    border-radius: 10px;
    padding: 20px;
    transition: all .50s ease;
    border: .5rem solid var(--second-bg-color);
    transition: .5s ease;
}

.projects-content .card:hover {
    transform: scale(1.02);
}


.main-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
}

.cardContent h1 {
    font-size: 2.5rem;
    font-weight: 500;
}

.cardContent h3 {
    font-size: 1.5rem;
    font-weight: 100;
}

.cardContent i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 55px;
}

.cardContent p {
    font-size: 2rem;
    font-weight: 300;
    padding-top: 2rem;
}

/* Here is where the Education & Experience CSS code ends */

/* Here is where the Awards & Certificates CSS code starts */
.awards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 10rem;
    background: var(--bg-color);
}

.awards .title {
    font-size: 3rem;
    color: var(--text-color);
    margin-top: 4rem;
}

.awards-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(430px, auto));
    justify-content: center;
    gap: 5rem;
    margin-top: 4.2rem;
}

.awards .awards-section .card .cardContent .main-row .github-icon i {
    color: var(--text-color);
}

.certificate-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(430px, auto));
    justify-content: center;
    gap: 5rem;
    margin-top: 4.2rem;
}
/* Here is where the Awards & Certificates CSS code ends */

/* Here is where the Contact CSS code starts */
.contact {
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 10rem;
    background: var(--second-bg-color);
}

.contact form {
    max-width: 100rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.field .error-txt {
    font-size: 1.5rem;
    color: var(--error-message);
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}

.field.error .item,
.field.error textarea {
    border: .1rem solid var(--error-message);
}

.field.error .error-txt {
    display: block;
}

form .textarea-field .item {
    resize: none;
}

.field .item,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

form .input-box {
    display: flex;
    justify-content: space-between;
}

form .textarea-field .item {
    resize: none;
}

.input-box .input-field {
    width: 49.4%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}
/* Here is where the Contact CSS code ends */

/* Here is where the Footer CSS code starts */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background-color: var(--bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--second-bg-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
}
/* Here is where the Footer CSS code ends */

/* Here is where the Breakpoints code starts */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        font-size: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .myProjects {
        padding-bottom: 7rem;
    }

    .footer {
        padding: 2rem 3%
    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .profile-pic img {
        width: 70vw;
        margin-top: 4rem;
    }

    .myProjects h2 {
        margin-bottom: 3rem;
    }
    
    .projects-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .awards-section {
        grid-template-columns: repeat(1, 1fr);
    }

    .certificate-section {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 617px) {
    .myProjects {
        grid-template-columns: 1fr;
    }

    .awards-section {
        grid-template-columns: 1fr;
    }

    .certificate-section {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}

@media (max-width: 365px) {
    .profile-pic img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }

    .contact {
        min-height: auto;
    }
}
/* Here is where the Breakpoints code ends */